@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2|Manrope|Roboto|Roboto+Slab&display=swap');

body {
  background-image: linear-gradient(
    to right,
    rgb(0, 46, 40),
    rgb(12, 116, 109)
  );
  color: #fff;
  font-family: 'Roboto Slab', serif;
}

.custom-header-nav {
  background-color: rgb(2, 88, 76);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 3em 30em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.custom-payment-button {
  background-color: rgb(242, 133, 2);
  margin-right: 10px;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  text-transform: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-brand-logo {
  margin-left: 10px;
}

#custom-color {
  background: rgb(242, 133, 2);
}

#custom-form-btn,
#custom-cancel-btn {
  background-color: rgb(255, 255, 255);
}

#custom-form-btn,
#custom-cancel-btn,
#custom-send-btn,
#custom-back-btn {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-form {
  margin-top: 3rem;
}

#custom-field {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 5px;
}
